/* author: Juhász Levente
Theme: Restaurant Food Order
version: 1.0
*/

/* Css for all */
.img-responsive {
  width: 100%;
}
.img-curve {
  border-radius: 15px;
}

.text-right {
  text-align: right;
}

* {
  margin: 0 0;
  padding: 0 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 1%;
}
.clearfix {
  clear: both;
  float: none;
}
a {
  color: #ff6b81;
  text-decoration: none;
}
a:hover {
  color: #ff4757;
}
.text-center {
  text-align: center;
}
.btn {
  padding: 1%;
  border: none;
  font-size: 1rem;
  border-radius: 10px;
}
.btn-primary {
  background-color: #ff6b81;
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  color: white;
  background-color: #ff4757;
}
h2 {
  color: #2f3542;
  font-size: 1.3rem;
  margin: 2%;
}

.text-white {
  color: white;
}
.float-container {
  position: relative;
}
.h3 {
  font-size: 1.3rem;
}
.float-text {
  position: absolute;
  bottom: 50px;
  left: 40%;
}
/* Css for navbar section*/

.logo {
  width: 10%;
  float: left;
}

.menu {
  line-height: 100px;
}
.menu ul {
  list-style-type: none;
}

.menu ul li {
  display: inline;
  padding: 1%;
  font-weight: bold;
}

/* Css for search section*/

.food-search {
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7% 0;
}

.food-search input[type="search"] {
  width: 50%;
  padding: 1%;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
}
/* Css for Categories*/
.categories {
  padding: 4% 0;
}

.box-3 {
  width: 28%;
  margin: 2%;
  float: left;
}

/* Css for food menu */

.food-menu {
  background-color: #ececec;
  padding: 4% 0;
}
.food-menu-box {
  background-color: white;
  padding: 2%;
 width: 43%;
  margin: 1%;
  float: left;
  border-radius: 15px;

;
}
.food-menu-img {
  
  width: 100px;
  height: 100px;
  float: left;


}

.food-price {
  font-size: 1.2rem;
  margin: 2% 0;
}
.food-menu-desc {
  width: 70%;
  float: left;
  margin-left: 8%;
}
.food-detail {
  font-size: 1rem;
  color: #747d8c;
}

/* Css for Social*/

.social ul {
  list-style-type: none;
}
.social ul li {
  display: inline;
  padding: 1%;
}

/* Css for mobile or smaller screen */

@media only screen and (max-width: 768px) {
  .logo {
    width: 30%;
    float: none;
    margin: 1% auto;
  }

  .menu ul {
    text-align: center;
  }

  .food-search input[type="search"] {
    width: 90%;
    margin-bottom: 3%;
    padding: 2%;
  }

  .btn {
    width: 91%;
    padding: 2%;
  }
  .food-search {
    padding: 20% 0;
  }

  .categories {
    padding: 10% 0;
  }

  h2 {
    margin-bottom: 5%;
  }
  .box-3 {
    width: 95%;
    margin: 2% auto;
  }

  .food-menu{

    padding: 20% auto;
  }

  .food-menu-box{

    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
  }
  .social{
    padding: 5% 0;
  }
}
